# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# База данных
*.db
*.sqlite3

# Нейросеть и веса
# Игнорируем скачанные веса, так как они тяжелые
*.pt
weights/
# Кэш Ultralytics
.ultralytics/

# Загрузки и медиа
# Игнорируем папку с фото, чтобы не засорять репозиторий
src/upload/
# Если есть другие папки для временных файлов
temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
